{% extends 'store/main.html' %}
{% load static %}

{% block content %}

{% if messages %}
{% for message in messages %}


<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}

<div class="row">
    <div class="col-lg-6">
        <h4>Login</h4>
        <hr>
        <form method="POST" action="{% url 'store:store' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">username</label>
                <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        {% load  socialaccount %}
        <hr>
        <p>Social login</p>

         <a href="{% provider_login_url 'google' %}?next=/">
        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" />
        </a>

    </div>

    <div class="col-lg-6">
        <h4>SignUp</h4>
        <hr>
            <form method="POST" action="{% url 'store:signup_user' %}">
                {% csrf_token %}


                <div class="mb-3">
                  <label>username</label>
                  <input type="text" class="form-control" name="username">
                </div>
                <div class="mb-3">
                  <label>password</label>
                  <input type="password" class="form-control" name="password1">
                </div>

                <div class="mb-3">
                  <label>confirm password</label>
                  <input type="password" class="form-control" name="password2">
                </div>


                <input type="submit" value="Register" class="btn btn-danger"/>
            </form>
    </div>

</div>
{% endblock content %}
